.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
}

.SearchBar input {
  width: 287px;
  padding: .88rem 0;
  border: 0px;
  border-radius: 12px;
  margin-bottom: 2.22rem;
  color: #22343C;
  background-color: #F8F8F8;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 7rem;
  height: 48px;
  padding: .5rem 0;
  border-radius: 24px;
  font-size: .8rem;
  background: #f3b340;
  text-align: center;
  transition: background-color .25s;
  border: 0px;
  color: #f8f8f8;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 1px 14px #19282F;
}

.SearchButton:hover {
  background-color: rgba(243, 179, 64, .5);
}